:root {
    --main: #FFEDD5;
    --secondary: #334C36;
    --third: #739272;

    --dark: #1C2E20;
    --light: #E0EBCD;
    --neutral: #FFFFFF;

    --input: #B7AE98;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--main);
}

.logo {

}

.avatar {

}

.input {
    background-color: var(--input);
    color: var(--neutral);
}

.quest-card-secondary {
    background-color: var(--secondary);
    color: var(--main);
}

.quest-card-third {
    background-color: var(--third); 
    color: var(--dark);
}

.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;

    background-color: var(--neutral);
    height: 100px;
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;
}

.nav-icon {
    
}